@import url(components/banner.css);
@import url(components/navbar.css);
@import url(components/pill.css);
@import url(components/about-card.css);

.skills-container {
  margin-top: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/geran-de-klerk-qzgN45hseN0-unsplash.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
